[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[core]
	autocrlf = input
	safecrlf = warn
	editor = vim
[push]
	default = matching
[user]
	email = briq.qin@xgimi.com
	name = briq.qin
[alias]
	lg = "log --graph --pretty=format:'%C(red)%h - %C(blue)%an %C(#00c0c0)%s%C(#d09000)(%ar)' --abbrev-commit"
	ubr = branch -vv
	mgt = mergetool
	dft = difftool
	cmt = commit
	st = status
	mg = merge
	df = diff
; [commit]
;     template = ~/git_cfg/git_commit
[merge]
	tool = meld
[diff]
	tool = meld
; [mergetool "meld"]
;         cmd = meld --auto-merge --diff $BASE $LOCAL &REMOTE --output $MERGED
; [difftool "meld"]
;         cmd = meld
[difftool]
	prompt = false
[mergetool]
	prompt = false
